<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

{% seo %}
    {% include head-custom.html %}
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <h1>You hold the key, that unlocks your destiny.</h1>
        </header>
        <section id="downloads" class="clearfix">
	 {% if site.show_downloads %}
         <a href="https://drive.google.com/u/1/uc?id=12DQ99yh62X3E6MaYxzQU4oE8-BC1gPSa&export=download" id="download-zip" class="button"><span>Windows</span></a>
		
         <a href="https://drive.google.com/u/1/uc?id=12DQ99yh62X3E6MaYxzQU4oE8-BC1gPSa&export=download" id="download-tar-gz" class="button"><span>MacOS</span></a>		
         	<br>
		<br>
	 <a href="https://drive.google.com/u/1/uc?id=12DQ99yh62X3E6MaYxzQU4oE8-BC1gPSa&export=download" id="download-tar-gz" class="button"><span>FraxiomPCMusic</span></a>
		{% endif %}
	{% if site.github.public %}
	  {% if site.github.is_project_page %}
          <a href="{{ site.github.repository_url }}" id="view-on-github" class="button"><span>View on GitHub</span></a>
	  {% else %}
          <a href="{{ site.github.owner_url }}" id="view-on-github" class="button"><span>View on GitHub</span></a>
	  {% endif %}
	{% endif %}
        </section>
        <hr>
        <section id="main_content">
          {{ content }}
        </section>

        <footer align="center">
        The Key Quest website is maintained by <a href="https://www.youtube.com/c/JelixFon">Jelix Fon</a> and <a href="https://github.com/filipecollura">Filipe Collura</a>
	<br>
	<br>
	Mac icon created by <a href="https://www.flaticon.com/free-icons/mac">Freepik</a>
	<br>	
	Windows icon created by <a href="flaticon.com/free-icons/windows">Pixel Perfect</a>
	<br>
	<br>
	View the <a href="https://youtube.com">Full Credits</a>
        </footer>

      </div>
    </div>
  </body>
</html>
