<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

{% seo %}
    {% include head-custom.html %}
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header align="center">
          <h1>You hold the key, that unlocks your destiny.</h1>
        </header>
        <section id="downloads" class="clearfix" align="center">
          {% if site.show_downloads %}
          <a href="https://www.dropbox.com/s/mlq1yezmx2bmao3/Hyperstage%20Records.zip?dl=1" id="download-zip" class="button"><span>Windows</span></a>
          <a href="{{ site.github.tar_url }}" id="download-tar-gz" class="button"><span>MacOS</span></a>
          {% endif %}
	{% if site.github.public %}
	  {% if site.github.is_project_page %}
          <a href="{{ site.github.repository_url }}" id="view-on-github" class="button"><span>View on GitHub</span></a>
	  {% else %}
          <a href="{{ site.github.owner_url }}" id="view-on-github" class="button"><span>View on GitHub</span></a>
	  {% endif %}
	{% endif %}
        </section align="center">
        <hr>
        <section id="main_content">
          {{ content }}
        </section>

        <footer align="center">
        Key Quest is maintained by Jelix Fon and Filipe Collura.
        </footer>

      </div>
    </div>
  </body>
</html>
